@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

:root {
    --deep-blue: #145299;
    --dark-blue: #0e3a6c;
    --deep-blue-darker: #124b8b;
    --carrot-orange: #ff5500;
    --cool-orange: #ff5700;
    --blood-red: #820303;
}


html {
  font-size: 20px;
  background-color: var(--deep-blue);
} 


@keyframes bgPositionAnim {
  0% {
      background-position: center calc(100%);
  }
  100% {
      background-position: center;
  }
}


@keyframes float {
  0% {
      transform: translatey(0px);
  }
  50% {
      transform: translatey(-0.2rem);
  }
  100% {
      transform: translatey(0px);
  }
}


@keyframes bounceInLeft {
  0%,60%,75%,90%,to {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-timing-function: cubic-bezier(.215,.61,.355,1)
  }

  0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px,0,0);
      transform: translate3d(-3000px,0,0)
  }

  60% {
      opacity: 1;
      -webkit-transform: translate3d(25px,0,0);
      transform: translate3d(25px,0,0)
  }

  75% {
      -webkit-transform: translate3d(-10px,0,0);
      transform: translate3d(-10px,0,0)
  }

  90% {
      -webkit-transform: translate3d(5px,0,0);
      transform: translate3d(5px,0,0)
  }

  to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }
}


@keyframes bounceInRight {
  0%,60%,75%,90%,to {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-timing-function: cubic-bezier(.215,.61,.355,1)
  }

  0% {
      opacity: 0;
      -webkit-transform: translate3d(3000px,0,0);
      transform: translate3d(3000px,0,0)
  }

  60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px,0,0);
      transform: translate3d(-25px,0,0)
  }

  75% {
      -webkit-transform: translate3d(10px,0,0);
      transform: translate3d(10px,0,0)
  }

  90% {
      -webkit-transform: translate3d(-5px,0,0);
      transform: translate3d(-5px,0,0)
  }

  to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }
}


@keyframes hithere {
    30% { transform: scale(1.15); }
    40%, 60% { transform: rotate(-5deg) scale(1.15); }
    50% { transform: rotate(5deg) scale(1.15); }
    70% { transform: rotate(0deg) scale(1.15); }
    100% { transform: scale(1); }
}


@keyframes flash {
    from { opacity: 1; }	
    to { opacity: 0.2; }
}

@keyframes pulse {
    from { transform: scale(0.8); }
    to { transform: scale(1.2); }
}


@media screen and (min-width: 2501px) { 
    html {
        font-size: 22.5px;
    }
}


@media screen and (max-width: 1900px) { 
    html {
        font-size: 15px;
    }
}

.home-page-main {
    width: 100.1vw;
    margin: auto auto;
    margin-left: -0.4vw;
    margin-top: 12.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://i.pinimg.com/originals/96/1d/27/961d27ec840890c86fc3cde4824c95cb.jpg");
    background-size: cover;
    padding-bottom: 5vh;
}


.home-page-main h1 {
    color: whitesmoke;
    font-size: 4rem;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    letter-spacing: 0.8rem;
    margin-top: 3vh;
    margin-bottom: 2vh;
}



header {
    width: 100vw;
    height: 12.5vh;
    background-color: var(--deep-blue);
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header li {
    list-style: none;
    cursor: pointer;
    font-family: 'Salsa', cursive;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    letter-spacing: 0.13rem;
    font-size: 1.5rem;
    animation: float 6s ease-in-out infinite;
    color: whitesmoke;
    transform: translatey(0px);
}


header li a {
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
}


header li a:before {
    content: "";
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 0;
    bottom: -3px;
    z-index: 0;
    position: absolute;
    background: #00c9a7;
    transition: all 0.3s ease-in-out;
}


header li a:hover {
    text-decoration: underline;
    background-position: 0%;
}


header li a:hover:before {
    width: 100%;
}


#sofia-uni-logo {
    height: 9vh;
}


table {
    margin-top: 2vh;
    border-collapse: separate;
    border-spacing: 22.5px;
    width: 92%;
}

tr:nth-child(1n) {
    background-color: #4E8397;
}

tr:nth-child(2n) {
    background-color: #318EAB;
}

tr:nth-child(1) {
    background-color: var(--deep-blue);
}


tr {
    transition: 600ms ease-in-out;
}


tr:not(:first-child):hover {
    cursor: pointer;
    background-color: #007262;
    transform: translateY(-0.4rem);
}


 table th, 
 table td {
    border-radius: 0.5rem;
    font-size: 1.8rem;
    font-family: 'Square Peg', cursive;
    color: whitesmoke;
    font-weight: 100;
    letter-spacing: 0.07rem;
    text-shadow: 5px 0px 7px rgba(255,255, 255,0.37);
    text-align: center;
    vertical-align: middle;
}

table th {
    font-family: 'Salsa';
    text-shadow: none;
    padding: 1.5rem;
    text-shadow: 5px 0px 7px rgba(0, 0, 0, 0.60);
}

 table td img {
    width: 13vw;
    margin: 0 auto;
    border-radius: 0.3rem;
    margin-top: 0.3em;
}


#sofia-uni-description {
    font-family: 'Salsa';
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.75;
    width: 85%;
    color: whitesmoke;
}


#starting-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#starting-div img {
    height: auto;
    width: 50vw;
    border-radius: 1rem;
    transition: 600ms ease-in-out;
}


#starting-div img:hover {
    -webkit-filter: blur(5px);
    filter: blur(3px);
}