{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main class="satellite-view-description">
        <h1>Sofia, Bulgaria, 2023-12-29</h1>

        <section>
                <div class="side-images">
                    <div>
                        <img src="{% static 'images/2023-12-29-00_00_2023-12-29-23_59_Landsat_8-9_L1_True_color.jpg' %}" alt="Sofia, Bulgaria, 2023-12-29 True Colour">
                        <p>True Colour</p>
                    </div>
                    <div>
                        <img src="{% static 'images/2023-12-29-00_00_2023-12-29-23_59_Landsat_8-9_L1_True_color.jpg' %}" alt="Sofia, Bulgaria, 2023-12-29 False Colour">
                        <p>False Colour</p>
                    </div>
                    <div>
                        <img src="{% static 'images/2023-12-29-00_00_2023-12-29-23_59_Landsat_8-9_L1_True_color.jpg' %}" alt="Sofia, Bulgaria, 2023-12-29 Thermal Image">
                        <p>Thermal Image</p>
                    </div>
                </div>

                <a href="{% static 'images/2023-12-29-00_00_2023-12-29-23_59_Landsat_8-9_L1_True_color.jpg' %}" download="Sofia, Bulgaria, 2023-12-29.jpg">
                    <img src="{% static 'images/2023-12-29-00_00_2023-12-29-23_59_Landsat_8-9_L1_True_color.jpg' %}" class="main-satelite-view" alt="Sofia, Bulgaria, 2023-12-29">
                </a>
        </section>
        <a id="link-to-source" target="_blank" href="https://apps.sentinel-hub.com/eo-browser/?zoom=9&lat=42.64507&lng=24.07928&themeId=DEFAULT-THEME&visualizationUrl=https%3A%2F%2Fcreodias.sentinel-hub.com%2Fogc%2Fwms%2F82f84fab-9b1c-4322-beeb-207b0f05afef&datasetId=S3OLCI&fromTime=2024-01-03T00%3A00%3A00.000Z&toTime=2024-01-03T23%3A59%3A59.999Z&layerId=2_OTCI&demSource3D=%22MAPZEN%22#search">Link to Source</a>

    </main>

{% endblock %}