@import url("./css/reset.css");

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --crimson: #DC143C;
    --crimson-darkened: #c61236;
    --orange-red-darkened: #b33000;
    --royal-blue-darkened: #3454b4;
    --silver: #C0C0C0;

    --box-shadow: 1.5px 1.5px 3px 1px rgba(0, 0, 0, 0.75);
    --border-radius: 0.2vw;
    --translate-y: translateY(-0.2vh);
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ! --- Common --- */

body {
    background-color: var(--royal-blue-darkened);
}

html,
body {
    overflow-x: hidden;
    min-height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

/* ! --- Navigation --- */

#nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 12.5vh;
    /* background-color: aliceblue; */
}

nav {
    border-radius: var(--border-radius);
    width: 42.5vw;
    height: 6.5vh;
    background-color: rgba(0, 0, 0, 0.6);
    /* box-shadow: var(--box-shadow); */
    transition: all 300ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.3vw dashed black;
    display: flex;
    justify-content: space-around;
}

nav:hover {
    transform: var(--translate-y);
    background-color: rgba(0, 0, 0, 0.65);
}

nav a {
    text-decoration: none;
    color: #c4c4c4;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    font-family: "Rubik", serif;
    transition: all 300ms ease-in-out;
}

nav a:hover {
    color: #f5f5f5;
    text-decoration: line-through;
}

/* ! --- Horizontal Container --- */

#content-wrapper {
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}

.dynamic-elements-container {
    width: 60vw;
    height: 60vh;
    /* background-color: var(--silver); */
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    border-radius: var(--border-radius);
}

.element {
    width: 60vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    box-sizing: border-box;
    transition: all 350ms ease-in-out;
}

.remove-element,
.remove-second-element {
    cursor: pointer;
    font-size: 1.5vw;
    transition: all 300ms ease-in-out;
}

.remove-element:hover,
.remove-second-element:hover {
    transform: var(--translate-y);
}

.element p,
.second-element p {
    font-size: 1.75vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.element:nth-child(even),
.second-element:nth-child(even) {
    background-color: black;
}

.element:nth-child(odd),
.second-element:nth-child(odd) {
    background-color: #f5f5f5;
}

.element:nth-child(even) p,
.second-element:nth-child(even) p {
    color: whitesmoke;
}

.element i,
.second-element i {
    font-weight: 600;
}

.element:hover,
.second-element:hover {
    transform: translateY(-1vh);
}

.element:nth-child(odd):hover,
.second-element:nth-child(odd):hover {
    background-color: #dddddd;
}

.element:nth-child(even):hover,
.second-element:nth-child(even):hover {
    background-color: #181818;
}

/* ! --- Vertical Container --- */

#second-content-wrapper {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #8bb92d; */
}

.second-dynamic-elements-container {
    width: 60vw;
    height: 70vh;
    /* background-color: var(--silver); */
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    border-radius: var(--border-radius);
}

.second-element {
    height: 70vh;
    width: 15vw;
    flex: 0 0 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 0vw;
    box-sizing: border-box;
    transition: all 350ms ease-in-out;
}

/* ! --- Buttons Container --- */

#buttons-container-wrapper {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttons-container {
    width: 50vw;
    height: 40vh;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.buttons-row {
    border-radius: var(--border-radius);
    /* background-color: white; */
    padding: 1.25vh 2vw;
    display: flex;
    gap: 1vw;
}

#first-buttons-row button {
    cursor: pointer;
    border-radius: 10vw;
    padding: 1.2vh 1.2vw;
    background-color: transparent;
    font-weight: bold;
    font-family: "Rubik", serif;
    transition: all 600ms ease-in-out;
}

/* ! --- First Buttons Row --- */

#first-buttons-row button:nth-child(1) {
    color: rgb(255, 53, 164);
    border: 0.2vw solid rgb(255, 53, 164);

}

#first-buttons-row button:nth-child(1):hover {
    color: whitesmoke;
    background-color: rgb(255, 53, 164);
    filter: brightness(90%);
    border: 0.2vw solid whitesmoke;
}


#first-buttons-row button:nth-child(2) {
    color: rgb(255, 181, 98);
    border: 0.2vw solid rgb(255, 181, 98);

}

#first-buttons-row button:nth-child(2):hover {
    color: whitesmoke;
    filter: brightness(90%);
    background-color: rgb(255, 181, 98);
    border: 0.2vw solid whitesmoke;
}


#first-buttons-row button:nth-child(3) {
    color: rgb(0, 220, 180);
    border: 0.2vw solid rgb(0, 220, 180);
}

#first-buttons-row button:nth-child(3):hover {
    color: whitesmoke;
    background-color: rgb(0, 220, 180);
    filter: brightness(90%);
    border: 0.2vw solid whitesmoke;
}

/* ! --- Second Buttons Row --- */

#second-buttons-row button {
    cursor: pointer;
    border-radius: 0.2vw;
    padding: 1.2vh 1.2vw;
    font-weight: bold;
    font-size: 0.9vw;
    letter-spacing: 0.02vw;
    transition: all 600ms ease-in-out;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#second-buttons-row button:nth-child(1) {
    background-color: #00d2b2;
}

#second-buttons-row button:nth-child(1):hover {
    background-color: #00a88e;
}

#second-buttons-row button:nth-child(2) {
    background-color: #007ab2;
}

#second-buttons-row button:nth-child(2):hover {
    background-color: #00628e;
}

#second-buttons-row button:nth-child(3) {
    background-color: #ff4e71;
}

#second-buttons-row button:nth-child(3):hover {
    background-color: #cc3d5a;
}

/* ! --- Third Buttons Row --- */

#third-buttons-row button {
    cursor: pointer;
    padding: 0 0;
    font-weight: normal;
    font-size: 0.9vw;
    letter-spacing: 0.02vw;
    transition: all 600ms ease-in-out;
    border: none;
    font-family: "Rubik", serif;
    display: flex;
    align-items: center;
    flex-basis: 20% 80%;
}

#third-buttons-row button i {
    font-size: 1.5vw;
    padding: 0.6vh 0.6vw;
    background-color: #0084b9;
}

#third-buttons-row button p {
    padding: 1.5vh 1.5vw;
}

#third-buttons-row button:nth-child(1), #third-buttons-row button:nth-child(1) i {
    background-color: #0084b9;
}

#third-buttons-row button:nth-child(1) p {
    background-color: #009bda;
}

#third-buttons-row button:nth-child(2), #third-buttons-row button:nth-child(2) i {
    background-color: #00ad62;
}

#third-buttons-row button:nth-child(2) p {
    background-color: #00ca73;
}

#third-buttons-row button:nth-child(3), #third-buttons-row button:nth-child(3) i {
    background-color: #d03f35;
}

#third-buttons-row button:nth-child(3) p {
    background-color: #f3493f;
}

footer {
    padding-top: 10vh;
    background-color: #180505;
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
}

.footer-container {
    width: 20vw;
    height: 40vh;
    background-color: #00a88e;
}