/* ! --- Reset --- */
@import url("./css/reset.css");


/* ! --- Common --- */
@import url("./css/common.css");


/* ! --- Navigation --- */
@import url("./css/navigation.css");


/* ! --- Horizontal Container --- */
@import url("./css/horizontalContainer.css");


/* ! --- Vertical Container --- */
@import url("./css/verticalContainer.css");


/* ! --- Buttons Container --- */
@import url("./css/buttonsContainer.css");


/* ! --- Buttons Container --- */
@import url("./css/footer.css");


@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --crimson: #DC143C;
    --crimson-darkened: #c61236;
    --orange-red-darkened: #b33000;
    --royal-blue-darkened: #3454b4;
    --silver: #C0C0C0;

    --box-shadow: 1.5px 1.5px 3px 1px rgba(0, 0, 0, 0.75);
    --border-radius: 0.2vw;
    --translate-y: translateY(-0.2vh);
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --line-height: 150%;
}