@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Salsa&display=swap');


:root {
    --deep-blue: #145299;
    --dark-blue: #0e3a6c;
    --deep-blue-darker: #124b8b;
    --carrot-orange: #ff5500;
    --cool-orange: #ff5700;
    --blood-red: #820303;
}


html {
  font-size: 20px;
  background-color: var(--deep-blue);
} 


@keyframes float {
  0% {
      transform: translatey(0px);
  }
  50% {
      transform: translatey(-0.2rem);
  }
  100% {
      transform: translatey(0px);
  }
}


@keyframes hithere {
    30% { transform: scale(1.15); }
    40%, 60% { transform: rotate(-5deg) scale(1.15); }
    50% { transform: rotate(5deg) scale(1.15); }
    70% { transform: rotate(0deg) scale(1.15); }
    100% { transform: scale(1); }
}


@keyframes pulse {
    from { transform: scale(0.8); }
    to { transform: scale(1.2); }
}


.satelite-view-description {
    width: 100.1vw;
    margin: auto auto;
    margin-left: -0.4vw;
    margin-top: 12.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://i.pinimg.com/originals/af/0f/c4/af0fc46fa7f05330435e9e71779af666.jpg");
    background-size: cover;
}


.satelite-view-description h1 {
    color: whitesmoke;
    font-size: 4rem;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    letter-spacing: 0.8rem;
    margin-top: 2vh;
    margin-bottom: 4vh;
}


.satelite-view-description form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.satelite-view-description form input {
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    color: black;
    border: none;
}


.satelite-view-description form input::placeholder {
    font-size: 1.2rem;
    font-family: 'Salsa', cursive;
    color: grey;
}


.satelite-view-description form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.satelite-view-description form div label {
    color: whitesmoke;
    font-family: 'Salsa', cursive;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    font-size: 1.6rem;
    margin-right: 0.7em;
    letter-spacing: 0.08rem;
    font-weight: 600;
}


.satelite-view-description form div select {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: 'Salsa', cursive;
    color: grey;
    border: none;
    cursor: pointer;
}


.satelite-view-description button:hover {
    background-color: #124b8b;
    color: #d6d6d6;;
    /* transform: translateY(-0.2rem); */
}


.satelite-view-description .file-upload-div button {
    text-align: center;
    width: 45%;
    padding: 0.7rem 1.5rem;
    background-color: #00866c;
    animation: none;
}


.satelite-view-description .file-upload-div button:hover {
    background-color: #009578;
    transform: translateY(-0.2rem);
}


.satelite-view-description .file-upload-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 2vh;
}


.satelite-view-description .file-upload-div span {
    font-size: 1.2rem;
    font-family: 'Salsa', cursive;
    color: whitesmoke;
    padding: 0.5rem;
    border-radius: 0.2rem;
}



@media screen and (min-width: 2501px) { 
    .post-product-main form  {
        gap: 2.4rem;
    }
}


@media screen and (max-width: 1900px) {
    .post-product-main {
        margin-left: -0.5vw;
    }


    .post-product-main h1 {
        margin-top: 15vh;
    }


    .post-product-main {
        padding-bottom: 12.5vh;
    }


    .post-product-main .err-input-field {
        border: 3px solid rgb(130, 3, 3);
    }
}


@media screen and (min-width: 2501px) { 
    html {
        font-size: 22.5px;
    }
}


@media screen and (max-width: 1900px) { 
    html {
        font-size: 15px;
    }
}


header {
    width: 100vw;
    height: 12.5vh;
    background-color: var(--deep-blue);
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header li {
    list-style: none;
    cursor: pointer;
    font-family: 'Salsa', cursive;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    letter-spacing: 0.13rem;
    font-size: 1.5rem;
    animation: float 6s ease-in-out infinite;
    color: whitesmoke;
    transform: translatey(0px);
}


header li a {
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
}


header li a:before {
    content: "";
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 0;
    bottom: -3px;
    z-index: 0;
    position: absolute;
    background: #00c9a7;
    transition: all 0.3s ease-in-out;
}


header li a:hover {
    text-decoration: underline;
    background-position: 0%;
}


header li a:hover:before {
    width: 100%;
}


header li div img {
    border-radius: 10%;
    height: 5vh;
    width: calc(5vh * 1.02);
}


.profile-dropdown {
    position: relative;
    display: inline-block;
}



@media screen and (min-width: 2501px) { 
    #cart-div {
        margin-left: -18vw;
        display: flex;
        position: relative;
        left: 4.5vw;
        text-decoration: none;
    }    
}


#sofia-uni-logo {
    height: 9vh;
}


.main-satelite-view {
    width: 70vw;
    border-radius: 0.5rem;
    margin-bottom: 7.5vh;
}


section {
    display: flex;
}


.side-images {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-right: 2rem; 
    justify-content: center;
}


.side-images img {
    width: 12vw; 
    margin-bottom: 3rem;
}


.side-images div {
    transition: 600ms ease-in-out;
}


.side-images div:hover {
    transform: translateY(-0.3rem);    
}


.side-images div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.side-images div p {
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
    position: relative;
    bottom: 6.5vh;
}


#link-to-source {
    margin-top: -3vh;
    color: whitesmoke;
    text-align: center;
    font-size: 2.5rem;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    padding-bottom: 5vh;
    transition: 600ms ease-in-out;
}


#link-to-source:hover {
    text-decoration: underline;
    color: rgb(216, 212, 212);
}