{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sofia Uni Explorer</title>
    <link rel="stylesheet" href="{% static '/style/style.css' %}">
    <link rel="shortcut icon" href="{% static '/images/SU.png' %}" type="image/x-icon">
</head>
<body>
    <header>
        <li><a href="https://earthexplorer.usgs.gov/">USGS</a></li>

        <li><a href="https://apps.sentinel-hub.com/eo-browser/?zoom=8&lat=42.91822&lng=24.41711&themeId=DEFAULT-THEME&toTime=2024-01-02T12%3A48%3A22.308Z" target="_blank">Sentinel Hub</a></li>

        <li><a href="{% url 'home view' %}"><img src="{% static 'images/SU.png' %}" alt="" id="sofia-uni-logo"> </a></li>

        <li><a href="https://worldview.earthdata.nasa.gov/?v=19.788142459987718,39.933428306306816,30.109453906907305,45.72303894606328&l=Reference_Labels_15m(hidden),Reference_Features_15m(hidden),Coastlines_15m,VIIRS_SNPP_DayNightBand_At_Sensor_Radiance,VIIRS_SNPP_DayNightBand_AtSensor_M15(hidden),VIIRS_SNPP_CorrectedReflectance_TrueColor(hidden)&lg=true&t=2022-02-06-T00%3A00%3A00Z">NASA</a></li>

        <li><a href="{% url 'create view' %}">Create Imagery</a></li>

    </header>

        {% block content %}

        {% endblock %}
</body>
</html>