{% extends 'base.html' %}
{% load static %}

{% block content %}

        <main class="home-page-main">
        <h1>Sofia Uni Satellite Explorer</h1>

        <div id="starting-div">
            <img id="home-page-main-img" src="https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2F0ZWxsaXRlfGVufDB8fDB8fHww" alt="">
            <h5 id="sofia-uni-description"><b> </h5>

        <h5 id="sofia-uni-description">
            <b>Key Features:</b>

            <br> <b>1. User Contribution:</b> The platform allows users to contribute satellite images enriched with diverse spectral indexes, fostering collaborative exploration and analysis.

            <br> <b>2. Interactive Visualization:</b> Satellite imagery is prominently displayed on the main page, offering an interactive and visually engaging experience for users to explore the Earth's surface.

            <br> <b>3. Detailed Analysis:</b> Each satellite image can be examined in detail through a dedicated view, providing options to download the image and manipulate spectral indexes for in-depth analysis.

            <br> <b>4. Spectral Index Customization:</b> Users have the flexibility to alter spectral indexes, enhancing the utility of the satellite imagery for a variety of applications.
        </h5>
        </div>

        <table>
            <tr>
                <th>Date</th>
                <th>Territory</th>
                <th>Data Source</th>
                <th>Image</th>
            </tr>
            {% for data in satelliteData %}
                <tr onclick="window.location.href='{% url "true colour details view" pk=data.pk %}';">
                    <td>{{ data.imageDate }}</td>
                    <td>{{ data.territory }}</td>
                    {% if data.dataSource == 'S-2' %}
                        <td>Sentinel-2</td>
                    {% else %}
                        {% if data.dataSource == 'L-8' %}
                            <td>Landsat 8-9</td>
                        {% else %}
                            <td>Copernicus Services</td>
                        {% endif %}
                    {% endif %}
                <td><img src="{{ data.trueColourImage.url }}" alt="{{ data.territory }}, {{ data.imageDate }}"></td>
                </tr>
            {% endfor %}
        </table>

    </main>

{% endblock %}