{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main class="satellite-view-description">
        <h1>{{ satelliteData.territory }}, {{ satelliteData.imageDate }}</h1>

        <section>
                {% if map_type == 'true-colour' %}
                    <div class="side-images">
                        <div>
                            <img src="{{ satelliteData.falseColourImage.url }}" alt="{{ satelliteData.territory }}, {{ satelliteData.imageDate }} False Colour">
                            <p>False Colour</p>
                        </div>
                        <div>
                            <img src="{{ satelliteData.NDVIimage.url }}" alt="{{ satelliteData.territory }}, {{ satelliteData.imageDate }} NDVI">
                            <p>NDVI</p>
                        </div>
                    </div>
                    <a href="{{ satelliteData.trueColourImage.url }}" download="{{ satelliteData.territory }}, {{ satelliteData.imageDate }}.jpg">
                        <img src="{{ satelliteData.trueColourImage.url }}" class="main-satellite-view" alt="{{ satelliteData.territory }}, {{ satelliteData.imageDate }}">
                    </a>
                {% endif %}

                {% if map_type == 'false-colour' %}
                    <div class="side-images">
                        <div>
                            <img src="{{ satelliteData.trueColourImage.url }}" alt="{{ satelliteData.territory }}, {{ satelliteData.imageDate }} True Colour">
                            <p>False Colour</p>
                        </div>
                        <div>
                            <img src="{{ satelliteData.NDVIimage.url }}" alt="{{ satelliteData.territory }}, {{ satelliteData.imageDate }} NDVI">
                            <p>NDVI</p>
                        </div>
                    </div>
                    <a href="{{ satelliteData.falseColourImage.url }}" download="{{ satelliteData.territory }}, {{ satelliteData.imageDate }}.jpg">
                        <img src="{{ satelliteData.falseColourImage.url }}" class="main-satellite-view" alt="{{ satelliteData.territory }}, {{ satelliteData.imageDate }}">
                    </a>
                {% endif %}

                {% if map_type == 'ndvi' %}
                    <div class="side-images">
                        <div>
                            <img src="{{ satelliteData.trueColourImage.url }}" alt="{{ satelliteData.territory }}, {{ satelliteData.imageDate }} True Colour">
                            <p>False Colour</p>
                        </div>
                        <div>
                            <img src="{{ satelliteData.falseColourImage.url }}" alt="{{ satelliteData.territory }}, {{ satelliteData.imageDate }} False Colour">
                            <p>NDVI</p>
                        </div>
                    </div>
                    <a href="{{ satelliteData.NDVIimage.url }}" download="{{ satelliteData.territory }}, {{ satelliteData.imageDate }}.jpg">
                        <img src="{{ satelliteData.NDVIimage.url }}" class="main-satellite-view" alt="{{ satelliteData.territory }}, {{ satelliteData.imageDate }}">
                    </a>
                {% endif %}
        </section>

        <a id="link-to-source" target="_blank" href="{{ satelliteData.sourceUrl }}">Link to Source</a>

    </main>

{% endblock %}