#buttons-container-wrapper {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttons-container {
    width: 50vw;
    height: 40vh;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.buttons-row {
    border-radius: var(--border-radius);
    /* background-color: white; */
    padding: 1.25vh 2vw;
    display: flex;
    gap: 1vw;
}

#first-buttons-row button {
    cursor: pointer;
    border-radius: 10vw;
    padding: 1.2vh 1.2vw;
    background-color: transparent;
    font-weight: bold;
    font-family: "Rubik", serif;
    transition: all 600ms ease-in-out;
} 

/* ! --- First Buttons Row --- */

#first-buttons-row button:nth-child(1) {
    color: rgb(255, 53, 164);
    border: 0.2vw solid rgb(255, 53, 164);

}

#first-buttons-row button:nth-child(1):hover {
    color: whitesmoke;
    background-color: rgb(255, 53, 164);
    filter: brightness(90%);
    border: 0.2vw solid whitesmoke;
}


#first-buttons-row button:nth-child(2) {
    color: rgb(255, 181, 98);
    border: 0.2vw solid rgb(255, 181, 98);

}

#first-buttons-row button:nth-child(2):hover {
    color: whitesmoke;
    filter: brightness(90%);
    background-color: rgb(255, 181, 98);
    border: 0.2vw solid whitesmoke;
}


#first-buttons-row button:nth-child(3) {
    color: rgb(0, 220, 180);
    border: 0.2vw solid rgb(0, 220, 180);
}

#first-buttons-row button:nth-child(3):hover {
    color: whitesmoke;
    background-color: rgb(0, 220, 180);
    filter: brightness(90%);
    border: 0.2vw solid whitesmoke;
}

/* ! --- Second Buttons Row --- */

#second-buttons-row button {
    cursor: pointer;
    border-radius: 0.2vw;
    padding: 1.2vh 1.2vw;
    font-weight: bold;
    font-size: 0.9vw;
    letter-spacing: 0.02vw;
    transition: all 600ms ease-in-out;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#second-buttons-row button:nth-child(1) {
    background-color: #00d2b2;
}

#second-buttons-row button:nth-child(1):hover {
    background-color: #00a88e;
}

#second-buttons-row button:nth-child(2) {
    background-color: #007ab2;
}

#second-buttons-row button:nth-child(2):hover {
    background-color: #00628e;
}

#second-buttons-row button:nth-child(3) {
    background-color: #ff4e71;
}

#second-buttons-row button:nth-child(3):hover {
    background-color: #cc3d5a;
}

/* ! --- Third Buttons Row --- */

#third-buttons-row button {
    cursor: pointer;
    padding: 0 0;
    font-weight: normal;
    font-size: 0.9vw;
    letter-spacing: 0.02vw;
    transition: all 600ms ease-in-out;
    border: none;
    font-family: "Rubik", serif;
    display: flex;
    align-items: center;
    flex-basis: 20% 80%;
}

#third-buttons-row button i {
    font-size: 1.5vw;
    padding: 0.6vh 0.6vw;
    background-color: #0084b9;
}

#third-buttons-row button p {
    padding: 1.5vh 1.5vw;
}

#third-buttons-row button:nth-child(1),
#third-buttons-row button:nth-child(1) i {
    background-color: #0084b9;
}

#third-buttons-row button:nth-child(1) p {
    background-color: #009bda;
}

#third-buttons-row button:nth-child(2),
#third-buttons-row button:nth-child(2) i {
    background-color: #00ad62;
}

#third-buttons-row button:nth-child(2) p {
    background-color: #00ca73;
}

#third-buttons-row button:nth-child(3),
#third-buttons-row button:nth-child(3) i {
    background-color: #d03f35;
}

#third-buttons-row button:nth-child(3) p {
    background-color: #f3493f;
}