#nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 12.5vh;
    /* background-color: aliceblue; */
}

nav {
    border-radius: var(--border-radius);
    width: 42.5vw;
    height: 6.5vh;
    background-color: rgba(0, 0, 0, 0.6);
    /* box-shadow: var(--box-shadow); */
    transition: all 300ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.3vw dashed black;
    display: flex;
    justify-content: space-around;
}

nav:hover {
    transform: var(--translate-y);
    background-color: rgba(0, 0, 0, 0.65);
}

nav a {
    text-decoration: none;
    color: #c4c4c4;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    font-family: "Rubik", serif;
    transition: all 300ms ease-in-out;
}

nav a:hover {
    color: #f5f5f5;
    text-decoration: line-through;
}