
#second-content-wrapper {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #8bb92d; */
}

.second-dynamic-elements-container {
    width: 60vw;
    height: 70vh;
    /* background-color: var(--silver); */
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    border-radius: var(--border-radius);
}

.second-element {
    height: 70vh;
    width: 15vw;
    flex: 0 0 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 0vw;
    box-sizing: border-box;
    transition: all 350ms ease-in-out;
}